root {
    margin: 0;
    padding: 0;

}

body {
    background-color: pink;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

header {
    text-align: center;
}

.habitList {
    display: grid;
}

.habit {
    display: inline-flex;
    padding: 5px 0;
    margin: 0 10px;
    border-bottom: 1px black solid;
}
    .check {
        /* position: absolute; */
        /* opacity: 0; */
    }
    .todayCheck {
        /* opacity: 0; */
        height: 15px;
        width: 15px;
        background-color: blue;
        /* border-radius: 50px;
        background-color: rgba(0,0,0,0); */
    }

    .visualProgress {
        display: inline-flex;
        
    }

        .visualProgressDay {
            height: 10px;
            width: 10px;
            margin-right: 3px;
        }

        #vpd1, #vpd3 {
            background-color: gray;
        }
        #vpd2 {
            background-color: lime;
        }

    .editTracker {
        height: 15px;
        width: 15px;
        background-color: rgba(0,0,0,0.4);
        color: white;
    }

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.1;
  display: flex;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}
input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: flex;
  place-content: center;
}
input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: hotpink;
  /* background-color: CanvasText; */
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
.form-control + .form-control {
  margin-top: 1em;
}